@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*,
*::before,
*::after {
	box-sizing:border-box;
}

:root {
	--ff-primary: 'Roboto Mono', monospace;
	--ff-secondary: 'Raleway', sans-serif;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #FAF5F5;
	--clr-dark: #2A2323;
	--clr-blue: #2D6E93;
	--clr-coral: #F57B54;
	--clr-yellow:#F9C239;

	--fs-h1: 3em;
	--fs-h2: 2.5em;
	--fs-h3: 1.5em;
	--fs-body: 1em;
}

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	padding:0;
	margin:0;
}

img {
	display:block;
	max-width: 100%
}

h1, h2, h3 {
	line-height: 1.1;
	margin:0;
}

body h1 { font-size: var(--fs-h1);}
body h2 { font-size: var(--fs-h2);}
body h3 { font-size: var(--fs-h3);}

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color:#DEDBDB;

	padding: 5px 10%;
}

nav h3 {
	font-size: var(--fs-h3);
	margin:17.5px;
	margin-right:50px;
}

.nav-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-links li {
	list-style: none;
	padding:3px 7.5px;
}

.nav-links li a {	
	text-decoration: none;
	/*padding:1rem;*/
	display: block;

	/**/
	padding:3px 10px;
	border-radius:50px;
	transition: all 0.3s ease 0s;
	background-color: rgba(245, 123, 84, 0.5);
	
}

.nav-links li a:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(222, 115, 225, 0.5);
	color:var(--clr-dark);
}

.navLinks li a:visited {
	transition: all 0.3s ease 0s;
	color:var(--clr-dark);
}

.toggle-button {
	position:absolute;
	top:1.5rem;
	right:1rem;
	display:none;
	flex-direction: column;
	justify-content: space-between;
	width:30px;
	height:20px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: var(--clr-dark);
	border-radius: 10px;
}

footer {
	clear:both;
	position:relative;
	background-color:rgba(249, 194, 57, 0.7);
	width:100%;
	height:75px;
	border-top: 1px solid var(--clr-coral);

	display:flex;
	justify-content: center;
	align-items: center;
}

footer a:link {
	transition: all 0.3s ease 0s;
	color: var(--clr-dark);
	border-radius:50px;
	text-decoration: none;
	padding:3px 10px;
}

footer a:visited {
	transition: all 0.3s ease 0s;
	color:var(--clr-dark);
}

.fa.fa-github {
	font-size: 36px;
	margin:0 10px;
}

.fa.fa-linkedin {
	font-size: 36px;
	margin:0 10px;
}

.sectionTitle {
	width:95%;
	padding:15px;

	display:flex;
	justify-content: center;

	border-bottom: 7.5px dotted var(--clr-yellow);
}

/*
index.html
*/

.blue-header {
	width:100%;
	height:325px;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding:80px 20px;
	border-bottom: 5px solid var(--clr-blue);
}

.header-content h2 {
	margin-right:100px;
}

.header-content div {
	padding-left:100px;
	border-left: 6.5px dotted grey;
}

.header-content h3 {
	text-align: center;
}

.header-content div h1 {
	color:var(--clr-coral);
}

.intro {
	margin:0;
	padding:35px 20px;
	float:left;

	display: flex;
	justify-content: space-between;
	align-items:center;
}

.intro img {
	width:500px;
	border:none;
	border-radius:10px;
}

.intro div {
	text-align: center;
	padding-left:20px;
}

/*
About Me
*/

.about-sectionTitle {
	display:flex;
	justify-content: center;

	border-left: 50px solid rgba(245, 123, 84, 0.75);
	border-right: 50px solid rgba(245, 123, 84, 0.75);
}

.about {
	width:100%;

	border-left: 50px solid rgba(245, 123, 84, 0.75);
	border-right: 50px solid rgba(245, 123, 84, 0.75);

	margin:0;
	padding:35px 20px;
	float:left;

	display: flex;
	justify-content: space-between;
	align-items:center;
}

.about img {
	width:425px;
	border:none;
	border-radius:10px;
}

.about-info {
	text-align: left;
	padding-left:20px;
}

/*
Work
*/

.work-sectionTitle {
	display:flex;
	justify-content: center;

	border-left: 50px solid rgba(45, 110, 147, 0.75);
	border-right: 50px solid rgba(45, 110, 147, 0.75);
}

.work {
	width:100%;

	border-left: 50px solid rgba(45, 110, 147, 0.75);
	border-right: 50px solid rgba(45, 110, 147, 0.75);

	margin:0;
	padding:35px 20px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.work img {
	width:500px;
	border:none;
	border-radius:10px;
}

/*
Contact
*/

.contact-sectionTitle {
	display:flex;
	justify-content: center;

	border-left: 50px solid rgb(222, 115, 225, 0.75);
	border-right: 50px solid rgb(222, 115, 225, 0.75);
}

.contact {
	width:100%;
	margin-bottom:0;
	padding: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-left: 50px solid rgb(222, 115, 225, 0.75);
	border-right: 50px solid rgb(222, 115, 225, 0.75);
}

.container {
	width:100%;
	margin:0 auto;
	max-width: 600px;
	min-height:40px;
	background:transparent;
	border:none;
	outline:none;
	color:black;
	font-size:var(--fs-body);
	margin-bottom:16px;
}

.form-group {
	width:100%;
	margin-top: 20px;
	font-size:15px;
}

.form-group input, .form-group textarea {
	width:100%;
	min-height:40px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom: 1px solid grey;
	color:black;
	font-size:var(--fs-body);
	margin-bottom:16px;
}

textarea {
	resize:vertical;
}

form .submit {
	background:rgba(45, 110, 147, 0.75);
	border-color:transparent;
	color:#fff;
	font-size:var(--fs-body);
	letter-spacing: 2px;
	height:50px;
	margin-top:20px;
	border-radius: 35px;
	width:100%;
}

form .submit:hover {
	background-color: rgba(54, 139, 187, 0.75);
	cursor:pointer;
}

@media (max-width: 900px) {
	.toggle-button {
		display:flex;
	}

	.nav-links {
		display:none;
		width:100%;
	}

	nav {
		flex-direction: column;
		align-items: flex-start;

		padding:0;
	}

	.nav-links ul {
		flex-direction: column;
		width:100%;
	}

	.nav-links li {
		text-align: center;
		border-bottom: 1px solid grey;
	}

	
	.nav-links li a {

		/**/
		background-color: transparent;
		border:transparent;
		padding:3px 10px;
	}

	.nav-links.active {
		display: flex;
	}

	/* index.html */

	.blue-header {
		display: none;
	}

	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding:80px 20px;
		border-bottom: 5px solid var(--clr-blue);
	}

	.header-content h2 {
		margin:0;
		padding:0;
		margin-bottom:50px;
	}

	.header-content div {
		border:none;
		margin:0;
		padding:0;
		padding-top:50px;
		border-top: 1px solid grey;
	}

	.header-content div h3 {
		margin-bottom:20px;
	}

	.header-content div h1 {
		text-align: center;
		margin:0;
		padding:0;
	}

	.intro {
		padding:0;

		flex-direction: column;
		justify-content: center;
	}

	.intro img {
		padding-top: 50px;
	}

	.intro div {
		text-align: center;
		padding:20px;
		padding-top:50px;
	}

	.intro div p {
		padding-bottom:20px;
	}

	/* About */

	.about-sectionTitle {
		border-left: 35px solid rgba(245, 123, 84, 0.75);
		border-right: 35px solid rgba(245, 123, 84, 0.75);
	}

	.about {
		border-left: 35px solid rgba(245, 123, 84, 0.75);
		border-right: 35px solid rgba(245, 123, 84, 0.75);

		padding:0;

		flex-direction: column;
		justify-content: center;
	}

	.about img {
		width:400px;
		padding:20px;
	}

	.about-info {
		text-align: left;
		padding:20px;
	}

	/*
	Work
	*/

	.work-sectionTitle {
		display:flex;
		justify-content: center;

		border-left: 35px solid rgba(45, 110, 147, 0.75);
		border-right: 35px solid rgba(45, 110, 147, 0.75);
	}

	.work {
		border-left: 35px solid rgba(45, 110, 147, 0.75);
		border-right: 35px solid rgba(45, 110, 147, 0.75);

		padding:35px 20px;
	}

	.work img {
		width:400px;
	}

	/*
	Contact
	*/
}




